@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

.blog-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15%;
}

@media (min-width: 1400px) {
  .blog-container {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
  }
}

@media (min-width: 2000px) {
  .blog-container {
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5%;
  }
}