html {
	overflow-x:hidden;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	heigh: 100%;
	overflow-x: hidden !important;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: #444444;
}

div#hero {
	height: 100vh;
}

img#hero-icon {
	margin-top: 50%;
	opacity: 0;
}

.content-section-c {
	border-top: 1px solid #32465A;
	border-bottom: 1px solid #32465A;
	background-color: #34495e;
	padding: 90px 0;
}

.descp {
	margin: 0;
	padding: 0;
	line-height: 40px !important;
}

.glyphicon {
	margin-right: 10px;
}

.lead2 {
margin-bottom: 30px;
margin-top: 20px;
font-size: 18px;
line-height: 1.46428571;
font-weight: 300;
}

.lead3 {
margin-bottom: 0px;
margin-top: 0px;
font-size: 16px;
color: #8D8D8D;
line-height: 1.46428571;
font-weight: 300;
}

.float {
-webkit-animation-name: floatingx;
-webkit-animation-duration: 4s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: ease-in-out;
-moz-animation-name: floating;
-moz-animation-duration: 4s;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: ease-in-out;
}

.phone-image {
max-width: 250px;
margin: auto;
}

.h1_home{
	font-size: 80px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 350;
	letter-spacing: 6px;
}


