html {
	overflow-x:hidden;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	heigh: 100%;
	overflow-x: hidden !important;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: #444444;
}

div#hero {
	height: 100vh;
}

img#hero-icon {
	margin-top: 50%;
	opacity: 0;
}

.content-section-c {
	border-top: 1px solid #32465A;
	border-bottom: 1px solid #32465A;
	background-color: #34495e;
	padding: 90px 0;
}